@font-face {
    font-family: 'JetBrains Mono';
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Regular.eot'); /* IE9 Compat Modes */
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/JetBrainsMono-1.0.3/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Italic.eot'); /* IE9 Compat Modes */
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/JetBrainsMono-1.0.3/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Italic.woff') format('woff'), /* Pretty Modern Browsers */
         url('/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Medium.eot'); /* IE9 Compat Modes */
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/JetBrainsMono-1.0.3/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Medium-Italic.eot'); /* IE9 Compat Modes */
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Medium-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/JetBrainsMono-1.0.3/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff'), /* Pretty Modern Browsers */
         url('/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Medium-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Bold.eot'); /* IE9 Compat Modes */
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/JetBrainsMono-1.0.3/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Bold-Italic.eot'); /* IE9 Compat Modes */
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-Bold-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/JetBrainsMono-1.0.3/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff'), /* Pretty Modern Browsers */
         url('/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Bold-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/JetBrainsMono-1.0.3/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
         url('/JetBrainsMono-1.0.3/ttf/JetBrainsMono-ExtraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-ExtraBold-Italic.eot'); /* IE9 Compat Modes */
    src: url('/JetBrainsMono-1.0.3/web/eot/JetBrainsMono-ExtraBold-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/JetBrainsMono-1.0.3/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff'), /* Pretty Modern Browsers */
         url('/JetBrainsMono-1.0.3/ttf/JetBrainsMono-ExtraBold-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 800;
    font-style: italic;
}

code, pre, tt {
    font-family: 'JetBrains Mono',SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}
